form.auth-form {
    display: flex;
    flex-direction: column;
    padding: 0em 2em 0 2em;
    margin: 2em 0;

    /* background-color: var(--gray-9);
    border: 1px solid red; */


    @media (min-width: 425px) {
        min-width: 300px;
        /* margin: 5em auto; */
        padding-top: 2em;
    }

    & .need-account {
        & button {
            margin-left: 1em;
        }
    }

    & .buttons {
        display: flex;
        align-items: center;
        margin: 2em 0;
        font-family: sans-serif;
        font-size: 12px;

        @media screen and (max-width: 425px) {
            flex-direction: column;
        }

        & .solid {
            background-color: var(--gold-7);
            border-radius: 10px;
            padding: 0.5em 1em;
            font-size: 14px;
            font-weight: 600;
            align-self: flex-start;
        }

        & .clear {
            background: none;
            font-weight: 600;
            text-decoration: underline;
        }

        & span {
            display: flex;
            margin: 1em 0;
            white-space: nowrap;
            align-self: flex-start;
        }

        & button {
            border: none;
            margin-right: 2em;
            cursor: pointer;
        }
    }

    & label {
        /* margin-bottom: 0.5em; */
        margin: 1em 0;
        font-family: sans-serif;
        font-weight: 600;
    }

    & input {
        margin-bottom: 1em;
        padding: .75em 0.5em;
        border-radius: 7px;
        border: 2px solid var(--gray-2);
        &:focus {
            outline: transparent;
            border: 2px solid var(--gold-7);
        }
    }
}

html.dark {
    & form.auth-form {
        & input {
            background-color: white;
            color: var(--gray-3);
            border: 2px solid var(--gray-4);
            &:focus {
                border: 2px solid var(--gold-8);
            }
        }

        & .buttons {
            & button {
                color: var(--gray-3);
            }
        }

        & .need-account {
            & button {
                color: var(--gray-10);
            }
        }
    }
}