:root {
  --gray-0: #000000;
  --gray-1: #1a1a1a;
  --gray-2: #2c2c2c;
  --gray-3: #404040;
  --gray-4: #555555;
  --gray-5: #6b6b6b;
  --gray-6: #828282;
  --gray-7: #999999;
  --gray-8: #b2b2b2;
  --gray-9: #cbcbcb;
  --gray-10: #e5e5e5;
  --gray-11: #ffffff;
  --gray-blue-0: #0d0e11;
  --gray-blue-1: #1f2027;
  --gray-blue-2: #2f313e;
  --gray-blue-3: #404456;
  --gray-blue-4: #52576f;
  --gray-blue-5: #656b86;
  --gray-blue-6: #7a809c;
  --gray-blue-7: #9196b0;
  --gray-blue-8: #a9adc2;
  --gray-blue-9: #c2c4d4;
  --gray-blue-10: #dbdce5;
  --gray-blue-11: #f4f5f7;
  --blue-0: #0e101b;
  --blue-1: #142040;
  --blue-2: #0f306b;
  --blue-3: #004196;
  --blue-4: #0053bf;
  --blue-5: #0066e1;
  --blue-6: #387bf9;
  --blue-7: #6590ff;
  --blue-8: #8da7ff;
  --blue-9: #b1c0ff;
  --blue-10: #d3d9ff;
  --blue-11: #f1f2ff;
  --indigo-0: #140d1a;
  --indigo-1: #271a3d;
  --indigo-2: #3b2465;
  --indigo-3: #502f8d;
  --indigo-4: #653cb4;
  --indigo-5: #7c4cd4;
  --indigo-6: #9462eb;
  --indigo-7: #ab7cf8;
  --indigo-8: #c198fd;
  --indigo-9: #d5b7fe;
  --indigo-10: #e7d6fd;
  --indigo-11: #f9f4fe;
  --violet-0: #160a15;
  --violet-1: #331434;
  --violet-2: #531557;
  --violet-3: #75147c;
  --violet-4: #96159f;
  --violet-5: #b425be;
  --violet-6: #cc43d5;
  --violet-7: #de65e5;
  --violet-8: #eb89ee;
  --violet-9: #f3adf3;
  --violet-10: #f8d0f7;
  --violet-11: #fcf2fc;
  --magenta-0: hsl(336.92,39.39%,6.47%);
  --magenta-1: hsl(333.53,45.95%,14.51%);
  --magenta-2: hsl(331.94,55.36%,21.96%);
  --magenta-3: hsl(330.32,62.91%,29.61%);
  --magenta-4: hsl(328.42,71.12%,36.67%);
  --magenta-5: hsl(327.12,80.09%,43.33%);
  --magenta-6: hsl(330,73.68%,55.29%);
  --magenta-7: hsl(333.44,75.72%,66.08%);
  --magenta-8: hsl(335.53,79.84%,74.71%);
  --magenta-9: hsl(337.3,84.09%,82.75%);
  --magenta-10: hsl(338.67,88.24%,90%);
  --magenta-11: hsl(337.5,100%,96.86%);
  --red-0: #160807;
  --red-1: #371214;
  --red-2: #5d131c;
  --red-3: #830d25;
  --red-4: #a90830;
  --red-5: #cb1b3f;
  --red-6: #e53c52;
  --red-7: #f7616b;
  --red-8: #ff8789;
  --red-9: #ffacab;
  --red-10: #ffd1cf;
  --red-11: #fff3f3;
  --orange-0: #140a02;
  --orange-1: #301a04;
  --orange-2: #4f2500;
  --orange-3: #6e3200;
  --orange-4: #8e4000;
  --orange-5: #ab5100;
  --orange-6: #c56612;
  --orange-7: #d97e37;
  --orange-8: #e8995e;
  --orange-9: #f2b68a;
  --orange-10: #f9d3b9;
  --orange-11: #fdf0e7;
  --gold-0: #130f05;
  --gold-1: #352b0d;
  --gold-2: #5a4908;
  --gold-3: #826900;
  --gold-4: #a98800;
  --gold-5: #cba500;
  --gold-6: #e5bc1a;
  --gold-7: #f5cd46;
  --gold-8: #feda6e;
  --gold-9: #ffe497;
  --gold-10: #ffeec0;
  --gold-11: #fff8e8;
  --green-0: #07100b;
  --green-1: #0d2519;
  --green-2: #073a25;
  --green-3: #005031;
  --green-4: #00673f;
  --green-5: #007e4f;
  --green-6: #1f9464;
  --green-7: #4aa97c;
  --green-8: #74bd97;
  --green-9: #9dd0b4;
  --green-10: #c6e3d2;
  --green-11: #edf6f1;
  --teal-0: #060e0f;
  --teal-1: #0e2325;
  --teal-2: #08383b;
  --teal-3: #004d53;
  --teal-4: #00646b;
  --teal-5: #007b82;
  --teal-6: #249198;
  --teal-7: #50a6ad;
  --teal-8: #7abbc0;
  --teal-9: #a3cfd2;
  --teal-10: #cbe3e5;
  --teal-11: #f2f8f8;
}